kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: cfs-sc
provisioner: csi.cubefs.com
allowVolumeExpansion: true
reclaimPolicy: Delete
parameters:
  # Resource manager IP address or URL
  csi.cubefs/master: "master-service.cubefs.svc.cluster.local:17010"
  # Owner name as authentication
  csi.cubefs/owner: "csiuser"
  # Client Pod Enabled
  csi.client-pod/enabled: "false"
  # Client Pod Image
  csi.client-pod/image: ""
